nav
    a(href="index.html")
        img(src="imgs/福森.png", alt="Fussen Coffee首頁" class="logo")
    div(class="link")
        a(href="index.html") 首頁
        a(href="Meal goods.html") 餐點商品
        a(href="Branch information.html") 分店資訊
        a(href="contact us.html") 聯繫我們