/* 導覽列區塊 */
.logo{
    width: 350px;
    height: 50px;

}

.link{
    float: right;
    padding: 20px;
}

.link a{
    color: white;
    text-decoration: none;
    padding: 5px 12px;
}

.link a:hover{
    background-color:#ffe048 ;
    color:black;
    transition: 0.6s;
}

nav{
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
}
.navbar {
    width: 100%;
  }  

#fussen{
    background-color:#000    ;
    height: 70px;
    
}
/* 頁尾 */
footer{
    background-color: #afafaf;
    color: #fff;
    margin-top: 30px;
    
}

footer #copy{
    padding-top: 10px;
    font-size: 15px;
    text-align: center;
}
/* 設定輪播圖片相同高度以及不失真 */
.carousel img {
    max-height:500px;
    object-fit:cover;
  }
/* 首頁 */
@charset "UTF-8";
/*PEN STYLES*/
* {
  box-sizing: border-box;
  font-family: 微軟正黑體;
}

body {
  background: #faf7f0;
}

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
.blog-card a {
  color: inherit;
}
.blog-card a:hover {
  color: #5ad67d;
}
.blog-card:hover .photo {
  transform: scale(1.3) rotate(3deg);
}
.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}
.blog-card .details,
.blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}
.blog-card .details a {
  text-decoration: dotted underline;
}
.blog-card .details ul li {
  display: inline-block;
}
.blog-card .details .author:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f007";
}
.blog-card .details .date:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f133";
}
.blog-card .details .tags ul:before {
  font-family: FontAwesome;
  content: "\f02b";
  margin-right: 10px;
}
.blog-card .details .tags li {
  margin-right: 2px;
}
.blog-card .details .tags li:first-child {
  margin-left: -4px;
}
.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.blog-card .description h3 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0px;
}
.blog-card .description .read-more {
  text-align: right;
}
.blog-card .description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}
.blog-card .description .read-more a:after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}
.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}
.blog-card:hover .details {
  left: 0%;
}
@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 700px;
  }
  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 60%;
  }
  .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card.alt {
    flex-direction: row-reverse;
  }
  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
  .blog-card.alt .details {
    padding-left: 25px;
  }
}

/* 聯絡我們 */
form{
    width:60vw;
    margin: 60px auto;
    padding: 80px 80px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  }

  input,textarea{
    outline-style: none;
  }

  input[type="text"], input[type="email"],textarea{
    background-color: #afafaf;
    border: 2px  solid white;
     box-sizing: border-box;
     width: 100%;
     padding: 10px; 
     margin-bottom: 20px;
    
   }

   input[type="reset"], input[type="Submit"]
{ 
 height: 50px;
  width: 150px;
  margin-left:20px;
  margin-right:20px;
  background-color: #000;
  color: white;
}

   #button{
    margin-top:10px;
   text-align:center;
 }

 /* 餐點商品 */
 .testimonials{
	background-color: #f33f02;
	position: relative;
	padding-top: 80px;
	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 30%;
		background-color: #ddd;
	}
}
#customers-testimonials {
	.item-details{
		background-color: #333333;
		color: #fff;
		padding: 20px 10px;
		text-align: left;
		h5{
			margin: 0 0 15px;
			font-size: 18px;
			line-height: 18px;
			span{
				color: red;
				float:right;
				padding-right: 20px;
			}
		}
		p{
			font-size: 14px;
		}
	}
	.item {
			text-align: center;
			// padding: 20px;
			margin-bottom:80px;
	}
}
.owl-carousel .owl-nav [class*='owl-'] {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.owl-carousel .owl-nav [class*='owl-'].disabled:hover {
  background-color: #D6D6D6;
}
.owl-carousel {
  position: relative;
}
.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  width: 50px;
  height: 50px;
	line-height: 50px;
	border-radius: 50%;
  position: absolute;
  top: 30%;
	font-size: 20px;
  color: #fff;
	border: 1px solid #ddd;
	text-align: center;
}
.owl-carousel .owl-prev {
  left: -70px;
}
.owl-carousel .owl-next {
  right: -70px;
}

/* RWD */
/* 當螢幕寬度小於等於 1023 像素 - 平板 */
@media screen and (max-width: 1023px) {
    /* 導覽業區塊 */
    .logo{
        width: 220px;
        height: 40px;
        margin-top: 10px;
    
    }
/* 當螢幕寬度小於等於 767 像素 - 手機 */
@media screen and (max-width: 767px){
    /* 導覽 */
    .rapidforbox{
        text-align: center;
         width: 100%;
         margin: 20px 40px;
    }

    .rapid-box{
        width: 80vw;
    }
    nav{
      text-align: center;
      padding: 15px ;
      font-size: 15px
  }

  .logo{
      width: 250px;
      height: 40px;
  }

  .link{
      float: none;
      padding: 15px 0;
      font-size: 12px;
  }


     /* 聯絡我們 */
input[type="reset"], input[type="Submit"]{
    margin: 10px 0;
   
}

form{
    width: 90%;
}
 
}
